{% extends "base.html" %}

{% block content %}

<h1>{{ contact }}</h1>

<p>
Name: {{ contact.name }}</br>
Email: {{ contact.email }}</br>
Phone: {{ contact.phone }}</br>
URL: {{ contact.url }}
</p>

{% endblock %}
