<h1>Trailing Stops Holdings</h1>
{% if holdings_list %}
    <ul>
    {% for holding in holdings_list %}
        <li><a href="/trailstops_app/holding/{{ holding.id }}/">{{ holding.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No holdings are available.</p>
{% endif %}
